<html>

<head>
</head>

<body>
    <div style="width: 100%;
            border: 1px solid grey;
            padding: 10px;">
        <div style="font-size: 14px;">
            <span>Ankita</span>
            <span>&nbsp;(</span>
            <a href="mailto:ankitaunhalkar19@gmail.com">ankitaunhalkar19@gmail.com</a>
            <span>)&nbsp;shared a note with you.</span>
        </div>
        <div style="font-size: 18px; color: #4184f3;">
            Yo
        </div>
        <button style="background-color: #4184f3;
            color: white;
            width: fit-content;
            outline: none;
            border: none;
            padding: 5px;
            font-weight: 500;
            cursor: pointer;">Open in Keep</button>
    </div>
</body>

</html>