<html>

<head>
</head>

<body>
    <div style="font-size: 14px;">{{firstname}} (
        <a style="text-decoration: none;" href="mailto:{{email}}">{{email}}</a>) shared a note with you.</div>
    <br>
    <div>
        <a href="{{origin}}" style="color:#4184f3; font-size: 20px; margin: 10px 0;text-decoration: none; line-height: 20px;">{{note.title}}</a>
    </div>
    <br>
    <a href="{{origin}}" style="cursor: pointer;background-color:#4184f3; color: white; font-weight: 600; outline: none; border: none;
        padding: 7px; border-radius: 2px; text-decoration: none; line-height: 100%;">
        Open in Keep
        <!-- <button style="cursor: pointer;background-color:#4184f3; color: white; font-weight: 600; outline: none; border: none; padding: 7px; border-radius: 2px;" >Open in Keep</button> -->
    </a>
</body>

</html>